---
import LinksIcon from "../../components/LinksIcon.astro";
import Sectionhead from "../../components/sectionhead.astro";
import Layout from "../../layouts/Layout.astro";
import { projectsbyID } from "../../../config/config";
import LinkDemo from "../../components/LinkDemo.astro";
import Sectionbody from "../../components/sectionbody.astro";
import LinkRepo from "../../components/LinkRepo.astro";
import Images from "../../components/Images.astro";

type ProjectName = keyof typeof projectsbyID;
const { projects } = Astro.params;
const project = projectsbyID[projects as ProjectName];
const { tools, name, descryption, link, repoLink, images = [] } = project;

export async function getStaticPaths() {
  return Object.keys(projectsbyID).map((name) => {
    return { params: { projects: name } };
  });
}
---

<Layout title={name}>
  <Sectionhead>
    <Fragment slot="title">{name}</Fragment>
    <Fragment slot="desc">{descryption}</Fragment>
  </Sectionhead>
  <Sectionbody>
    <Images slot="images" images={images} />
    <LinkDemo slot="demo" href={link} />
    <LinkRepo slot="repoLink" href={repoLink} />
    <LinksIcon slot="links" items={tools} name={name} />
  </Sectionbody>

  <main></main>
</Layout>
